<html>
   <body>
      <form action = "accept_sender_data" method = "POST" enctype = "multipart/form-data">
         
         <!-- Plain text for playfair -->
         <input type="text" name="plaintext" placeholder="Enter the PlainText (Allowed Things: A-Za-z0-9 ,.!?&quot;'&:;%@-)" >
         <br>

         <!-- Key for playfair -->
         <input type="text" name="playfairkey" placeholder="Enter Key for playfair Cipher" >
         <br>

         <!-- Receiver's public key for RSA -->         
         <input type="text" name="receiver_publickey" placeholder="Enter the Receiver's PublicKey" >
         <br>
         
         <!-- Uplod image for steganography -->
         <label for="uploaded_image" >Upload Image :</label>
         <input type = "file" name = "uploaded_image" />
         <br>
      
         <input type = "submit" value="ENCRYPT" />
         <br>

      </form>
   </body>
</html>