<html>
   <body>
      <form action = "accept_receiver_data" method = "POST" enctype = "multipart/form-data">
         
         <!-- Receiver's private key for RSA -->         
         <input type="text" name="receiver_privatekey" placeholder="Enter the Receiver's PrivateKey (without b & quotes)" >
         <br>
         
         <!-- Upload encrypted image for steganography -->
         <label for="encrypted_image" >Upload Image :</label>
         <input type = "file" name = "encrypted_image" />
         <br>
      
         <input type = "submit" value="DECRYPT" />
         <br>

      </form>
   </body>
</html>